body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Merriweather', serif;
    font-family: 'Raleway', sans-serif; */

    font-size: 16px;
    line-height: 1.6;
    color: #000;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container
================= */

.container {
    width: 100%;
    max-width: 1230px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header
=================== */

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: #EFF0F2;
}
.logo {
    padding-top: 65px;
}

/* NAV
=========================== */

.nav__toggle {
    width: 30px;
    padding: 60px 30px 0 0;

    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 1;

    border: 0;
    background: none;

    cursor: pointer;
}

.nav__toggle:focus {
    outline: 0;
}

.nav__toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #707070;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.nav__toggle__item:before,
.nav__toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #707070;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;

}

.nav__toggle__item:after {
    bottom: -8px;
}

.nav__toggle__item:before {
    top: -8px;
}


/* Intro
================== */

.intro {
    width: 100%;
    height: 100vh;
    background-color: #EFF0F2;
}

.intro__inner {
    height: 100%;
    max-width: 1500px;

    position: relative;
}

.intro__title {
    margin: 0;
    padding-top: 300px;

    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #505050;
}

.intro__span {
    background-color: #B2F1ED;
}

.intro__img {
    position: absolute;
    top: 574px;
    right: 50px;
    z-index: 1;
}

/* Buttion
=================== */
.button {
    margin-top: 140px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 45px;
    text-decoration: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    border: 3px solid #767778;
    color: #000;

    position: absolute;
    left: 40%;
    z-index: 2;

}

/* Container header
====================== */

.container__header {
    margin: 119px auto;
    text-align: center;
}

.container__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.container__subtitle {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    opacity: 62%;
}
/* Section
===================== */
.section {
    margin: 0;
}

.section-about {
    background-color: #F8FAFA;
}

/* About
==================== */

.about {
    padding-bottom: 113px;
}
.about__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.about__img {
    width: 50%;
}

.about__content {
    width: 50%;
}

.about__title {
    margin: 40px 0 20px 0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    opacity: 72%;
}

.about__text {
    padding-right: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #000;
    opacity: 74%;
    line-height: 1.8;
}

.about__subtitle {
    margin: 36px 0 20px 0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    opacity: 72%;
}

/* Works
============== */

.works {
    margin-bottom: 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.works__item {
    padding: 0 15px 15px 0;
    width: 33%;
}

.works__img {
    max-width: 379px;
    min-height: 379px;
    min-width: 379px;
}

/* Services
=================== */

.services {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__col {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item__1 {
    margin-right: 15px;
    width: 54%;
    overflow: hidden;

    position: relative;
}

.services__item__2 {
    margin: 0 15px;
    width: 40%;
    overflow: hidden;
}

.services__item__2__last{
    margin: 0;
}
.services__img__block {
    position: absolute;
}
.services__img:hover {
    background-color: #6DF6EB;

}

.services__content {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 100;

    color: #fff;
}

.services__title {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.services__text {
    padding: 20px 0 48px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.services__btn {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    text-decoration: none;
}

p {
    margin: 0;
}

.services__arrow {
    position: relative;
    cursor: pointer;
}

.services__arrow__1 {
    content: "";
    display: block;
    display: inline-block;
    padding: 3px;
    border-top: 3px solid #fff;
    width: 21px;

    position: absolute;
    top: 45%;
    left: 45%;
}

.services__arrow__2 {
    content: "";
    display: block;
    display: inline-block;
    padding: 3px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 10px;
    transform: rotate(-45deg);

    position: absolute;
    top: 35%;
    left: 49%;
}

























